*{
    font-family: monospace;
    color: brown
}

.row{
    height: 400px;
    margin: 0 auto;
    background-color: black;
    display: flex;
    align-items: center; 
}

.col{
    background-color: brown;
    height: 300px;
    margin: 1%;
    flex: 1;
}

.col-2{
    background-color: brown;
    height: 300px;
    margin: 1%;
    flex: 2;
}

.col-3{
    background-color: brown;
    height: 300px;
    margin: 1%;
    flex: 3;
}



